name: schedule_dbt_job

on:
  push:
    branches:
       # run on push to main branch
       - main
  schedule:
      - cron: "30 * * * 1-5"
      # Run at 30 minutes past the hour, Monday through Friday
  workflow_dispatch: # Allow the workflow to be triggered manually
env:
    DBT_PROFILES_DIR: ./

    DBT_SNOWFLAKE_USERNAME: ${{ secrets.DBT_SNOWFLAKE_USERNAME }}
    DBT_SNOWFLAKE_PW: ${{ secrets.DBT_SNOWFLAKE_PW }}
    DBT_SNOWFLAKE_ROLE: ${{ secrets.DBT_SNOWFLAKE_ROLE }}

jobs:
  schedule_dbt_job:
    name: schedule_dbt_job
    runs-on: ubuntu-latest

    steps:
      - name: Check out
        uses: actions/checkout@main

      - uses: actions/setup-python@v3
        with:
          python-version: "3.10.11"

      - name: Install dependencies
        run: |
          pip install dbt-snowflake
          dbt deps

      # dbt related commands here - run use --target prod/dev to run for specific environments
      - name: Run dbt models
        run: dbt run
